<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="userMacSet">
          <set>
            <option value="0025_3883_01" />
            <option value="AC-67-5D-7A-26-5A" />
          </set>
        </option>
      </Profile>
    </option>
  </component>
</application>